USE [master]
GO
/****** Object:  Database [BanHang]    Script Date: 11/12/2018 18:24:19 ******/
CREATE DATABASE [BanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ACHILLESLESQL\MSSQL\DATA\BanHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ACHILLESLESQL\MSSQL\DATA\BanHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanHang]
GO
/****** Object:  User [WebDatabaseUser]    Script Date: 11/12/2018 18:24:19 ******/
CREATE USER [WebDatabaseUser] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT AUTHORITY\NETWORK SERVICE]    Script Date: 11/12/2018 18:24:19 ******/
CREATE USER [NT AUTHORITY\NETWORK SERVICE] FOR LOGIN [NT AUTHORITY\NETWORK SERVICE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT AUTHORITY\IUSR]    Script Date: 11/12/2018 18:24:19 ******/
CREATE USER [NT AUTHORITY\IUSR] FOR LOGIN [NT AUTHORITY\IUSR]
GO
/****** Object:  User [ACHILLESPC\Administrator]    Script Date: 11/12/2018 18:24:19 ******/
CREATE USER [ACHILLESPC\Administrator] FOR LOGIN [ACHILLESPC\Administrator] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ACHILLES_COMPUT\cusoc]    Script Date: 11/12/2018 18:24:19 ******/
CREATE USER [ACHILLES_COMPUT\cusoc] FOR LOGIN [ACHILLESPC\cusoc] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [WebDatabaseUser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\IUSR]
GO
ALTER ROLE [db_owner] ADD MEMBER [ACHILLESPC\Administrator]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ACHILLESPC\Administrator]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ACHILLESPC\Administrator]
GO
ALTER ROLE [db_owner] ADD MEMBER [ACHILLES_COMPUT\cusoc]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 11/12/2018 18:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[idBill] [int] IDENTITY(1,1) NOT NULL,
	[codeBill] [decimal](15, 0) NOT NULL,
	[nameSupplier] [nvarchar](250) NOT NULL,
	[total] [decimal](15, 0) NOT NULL,
	[idUpdator] [int] NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[updatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[idBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/12/2018 18:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[idCategory] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[avatar] [varchar](250) NULL,
	[isDelete] [int] NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[updatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblCategory] PRIMARY KEY CLUSTERED 
(
	[idCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailBill]    Script Date: 11/12/2018 18:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailBill](
	[idDetailBill] [int] IDENTITY(1,1) NOT NULL,
	[idBill] [int] NOT NULL,
	[idProduct] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_DetailBill] PRIMARY KEY CLUSTERED 
(
	[idDetailBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailReciept]    Script Date: 11/12/2018 18:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailReciept](
	[idDetail] [int] IDENTITY(1,1) NOT NULL,
	[idReciept] [int] NOT NULL,
	[idProduct] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_tblDetailReciept] PRIMARY KEY CLUSTERED 
(
	[idDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 11/12/2018 18:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[idLogin] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[token] [varchar](50) NOT NULL,
	[createdTime] [datetime] NOT NULL,
	[expiredTime] [datetime] NOT NULL,
 CONSTRAINT [PK_tblLogin] PRIMARY KEY CLUSTERED 
(
	[idLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/12/2018 18:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[idProduct] [int] IDENTITY(1,1) NOT NULL,
	[idCategory] [int] NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[length] [decimal](6, 1) NULL,
	[width] [decimal](6, 1) NULL,
	[high] [decimal](6, 1) NULL,
	[priceIn] [decimal](10, 0) NOT NULL,
	[priceOut] [decimal](10, 0) NOT NULL,
	[madein] [nvarchar](250) NULL,
	[quantity] [int] NOT NULL,
	[description] [text] NULL,
	[avatar] [varchar](250) NULL,
	[images] [text] NULL,
	[idCreator] [int] NOT NULL,
	[isDelete] [int] NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[updatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblProduct] PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 11/12/2018 18:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt](
	[idReceipt] [int] IDENTITY(1,1) NOT NULL,
	[nameCustomer] [nvarchar](250) NOT NULL,
	[address] [nvarchar](250) NOT NULL,
	[phone] [varchar](11) NOT NULL,
	[email] [nchar](250) NULL,
	[description] [text] NULL,
	[total] [decimal](15, 0) NOT NULL,
	[status] [int] NOT NULL,
	[idUpdator] [int] NULL,
	[createdDate] [datetime] NOT NULL,
	[updatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[idReceipt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/12/2018 18:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[iduser] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [varchar](250) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](250) NULL,
	[role] [int] NOT NULL,
	[phone] [varchar](11) NULL,
	[address] [varchar](250) NULL,
	[cmnd] [varchar](10) NULL,
	[isDelete] [int] NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[updatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[iduser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([idCategory], [name], [avatar], [isDelete], [createdDate], [updatedDate]) VALUES (1, N'Cate 1', NULL, 0, CAST(N'2018-08-10T15:33:15.000' AS DateTime), CAST(N'2018-09-24T17:53:16.137' AS DateTime))
INSERT [dbo].[Category] ([idCategory], [name], [avatar], [isDelete], [createdDate], [updatedDate]) VALUES (2, N'rô bốt', NULL, 0, CAST(N'2018-10-15T16:27:12.793' AS DateTime), CAST(N'2018-10-15T16:27:12.793' AS DateTime))
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[DetailReciept] ON 

INSERT [dbo].[DetailReciept] ([idDetail], [idReciept], [idProduct], [quantity], [price]) VALUES (1, 1, 2, 5, CAST(50000 AS Decimal(18, 0)))
INSERT [dbo].[DetailReciept] ([idDetail], [idReciept], [idProduct], [quantity], [price]) VALUES (2, 1, 3, 5, CAST(50000 AS Decimal(18, 0)))
INSERT [dbo].[DetailReciept] ([idDetail], [idReciept], [idProduct], [quantity], [price]) VALUES (3, 1, 4, 5, CAST(50000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DetailReciept] OFF
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([idLogin], [idUser], [token], [createdTime], [expiredTime]) VALUES (1, 3, N'YWRtaW4xMC83LzIwMTggMTI6NDc6MTc=', CAST(N'2018-10-07T12:47:17.803' AS DateTime), CAST(N'2018-10-07T13:17:18.097' AS DateTime))
INSERT [dbo].[Login] ([idLogin], [idUser], [token], [createdTime], [expiredTime]) VALUES (2, 3, N'YWRtaW4xMC83LzIwMTggMTM6MDY6MTI=', CAST(N'2018-10-07T13:06:12.247' AS DateTime), CAST(N'2018-10-07T13:36:12.247' AS DateTime))
INSERT [dbo].[Login] ([idLogin], [idUser], [token], [createdTime], [expiredTime]) VALUES (3, 3, N'YWRtaW4xMC83LzIwMTggMTM6MzY6MDI=', CAST(N'2018-10-07T13:36:02.587' AS DateTime), CAST(N'2018-10-07T14:06:02.590' AS DateTime))
SET IDENTITY_INSERT [dbo].[Login] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([idProduct], [idCategory], [code], [name], [length], [width], [high], [priceIn], [priceOut], [madein], [quantity], [description], [avatar], [images], [idCreator], [isDelete], [createdDate], [updatedDate]) VALUES (2, 1, N'P0123456', N'hộp đồ ráp Ken shin 1', CAST(10.0 AS Decimal(6, 1)), CAST(19.0 AS Decimal(6, 1)), CAST(20.0 AS Decimal(6, 1)), CAST(50000 AS Decimal(10, 0)), CAST(800000 AS Decimal(10, 0)), N'China', 100, N'nothing', NULL, NULL, 3, 0, CAST(N'2018-10-26T00:00:00.000' AS DateTime), CAST(N'2018-10-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Product] ([idProduct], [idCategory], [code], [name], [length], [width], [high], [priceIn], [priceOut], [madein], [quantity], [description], [avatar], [images], [idCreator], [isDelete], [createdDate], [updatedDate]) VALUES (3, 1, N'P0123457', N'Lắp ráp shu shi 1', CAST(10.0 AS Decimal(6, 1)), CAST(22.0 AS Decimal(6, 1)), CAST(20.0 AS Decimal(6, 1)), CAST(70000 AS Decimal(10, 0)), CAST(800000 AS Decimal(10, 0)), N'China', 100, N'nothing', NULL, NULL, 3, 0, CAST(N'2018-10-26T00:00:00.000' AS DateTime), CAST(N'2018-10-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Product] ([idProduct], [idCategory], [code], [name], [length], [width], [high], [priceIn], [priceOut], [madein], [quantity], [description], [avatar], [images], [idCreator], [isDelete], [createdDate], [updatedDate]) VALUES (4, 1, N'P0123458', N'Sửa xe máy 1', CAST(26.0 AS Decimal(6, 1)), CAST(40.0 AS Decimal(6, 1)), CAST(35.0 AS Decimal(6, 1)), CAST(10000 AS Decimal(10, 0)), CAST(120000 AS Decimal(10, 0)), N'Việt Nam', 100, N'nothing', NULL, NULL, 3, 0, CAST(N'2018-10-26T00:00:00.000' AS DateTime), CAST(N'2018-10-26T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Receipt] ON 

INSERT [dbo].[Receipt] ([idReceipt], [nameCustomer], [address], [phone], [email], [description], [total], [status], [idUpdator], [createdDate], [updatedDate]) VALUES (1, N'Achilles', N'7 Ð?ng kiên ', N'01658545222', NULL, N'Giao hàng lúc 11h', CAST(500000 AS Decimal(15, 0)), 3, NULL, CAST(N'2018-10-27T14:24:44.550' AS DateTime), CAST(N'2018-10-27T14:24:44.550' AS DateTime))
INSERT [dbo].[Receipt] ([idReceipt], [nameCustomer], [address], [phone], [email], [description], [total], [status], [idUpdator], [createdDate], [updatedDate]) VALUES (2, N'Achilles', N'7 Ð?ng kiên ', N'01658545222', NULL, N'Giao hàng lúc 11h', CAST(500000 AS Decimal(15, 0)), 1, NULL, CAST(N'2018-10-27T22:23:36.003' AS DateTime), CAST(N'2018-10-27T22:23:36.003' AS DateTime))
INSERT [dbo].[Receipt] ([idReceipt], [nameCustomer], [address], [phone], [email], [description], [total], [status], [idUpdator], [createdDate], [updatedDate]) VALUES (3, N'Achilles', N'7 Ð?ng kiên ', N'01658545222', NULL, N'Giao hàng lúc 11h', CAST(500000 AS Decimal(15, 0)), 2, NULL, CAST(N'2018-10-27T22:32:23.727' AS DateTime), CAST(N'2018-10-27T22:32:23.727' AS DateTime))
SET IDENTITY_INSERT [dbo].[Receipt] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([iduser], [fullname], [username], [password], [role], [phone], [address], [cmnd], [isDelete], [createdDate], [updatedDate]) VALUES (3, N'admin', N'admin', N'123', 1, NULL, NULL, NULL, 0, CAST(N'2018-08-10T15:33:15.000' AS DateTime), CAST(N'2018-08-10T15:33:15.000' AS DateTime))
INSERT [dbo].[User] ([iduser], [fullname], [username], [password], [role], [phone], [address], [cmnd], [isDelete], [createdDate], [updatedDate]) VALUES (4, N'Vu', N'Vu', N'123', 1, NULL, NULL, NULL, 0, CAST(N'2018-08-10T15:33:15.000' AS DateTime), CAST(N'2018-09-24T17:52:08.920' AS DateTime))
INSERT [dbo].[User] ([iduser], [fullname], [username], [password], [role], [phone], [address], [cmnd], [isDelete], [createdDate], [updatedDate]) VALUES (5, N'Le van bao', N'Achilles', N'123456', 0, NULL, NULL, NULL, 0, CAST(N'2018-10-10T20:41:10.693' AS DateTime), CAST(N'2018-10-10T20:41:12.430' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_updatedDate]  DEFAULT (getdate()) FOR [updatedDate]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_tblCategory_isDelete]  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_tblCategory_updatedDate]  DEFAULT (getdate()) FOR [updatedDate]
GO
ALTER TABLE [dbo].[DetailBill] ADD  CONSTRAINT [DF_DetailBill_quantity]  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[DetailBill] ADD  CONSTRAINT [DF_DetailBill_price]  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[DetailReciept] ADD  CONSTRAINT [DF_tblDetailReciept_quantity]  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[DetailReciept] ADD  CONSTRAINT [DF_tblDetailReciept_price]  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_tblProduct_isDelete]  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_tblProduct_updatedDate]  DEFAULT (getdate()) FOR [updatedDate]
GO
ALTER TABLE [dbo].[Receipt] ADD  CONSTRAINT [DF_HoaDon_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Receipt] ADD  CONSTRAINT [DF_HoaDon_updatedDate]  DEFAULT (getdate()) FOR [updatedDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_tblUser_role]  DEFAULT ((0)) FOR [role]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_tblUser_isDelete]  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_tblUser_updatedDate]  DEFAULT (getdate()) FOR [updatedDate]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_User] FOREIGN KEY([idUpdator])
REFERENCES [dbo].[User] ([iduser])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_User]
GO
ALTER TABLE [dbo].[DetailBill]  WITH CHECK ADD  CONSTRAINT [FK_DetailBill_Bill] FOREIGN KEY([idBill])
REFERENCES [dbo].[Bill] ([idBill])
GO
ALTER TABLE [dbo].[DetailBill] CHECK CONSTRAINT [FK_DetailBill_Bill]
GO
ALTER TABLE [dbo].[DetailBill]  WITH CHECK ADD  CONSTRAINT [FK_DetailBill_Product] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([idProduct])
GO
ALTER TABLE [dbo].[DetailBill] CHECK CONSTRAINT [FK_DetailBill_Product]
GO
ALTER TABLE [dbo].[DetailReciept]  WITH CHECK ADD  CONSTRAINT [FK_tblDetailReciept_tblProduct] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([idProduct])
GO
ALTER TABLE [dbo].[DetailReciept] CHECK CONSTRAINT [FK_tblDetailReciept_tblProduct]
GO
ALTER TABLE [dbo].[DetailReciept]  WITH CHECK ADD  CONSTRAINT [FK_tblDetailReciept_tblReceipt] FOREIGN KEY([idReciept])
REFERENCES [dbo].[Receipt] ([idReceipt])
GO
ALTER TABLE [dbo].[DetailReciept] CHECK CONSTRAINT [FK_tblDetailReciept_tblReceipt]
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD  CONSTRAINT [FK_tblLogin_tblUser] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([iduser])
GO
ALTER TABLE [dbo].[Login] CHECK CONSTRAINT [FK_tblLogin_tblUser]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__tblProduc__idCre__66603565] FOREIGN KEY([idCreator])
REFERENCES [dbo].[User] ([iduser])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__tblProduc__idCre__66603565]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_tblProduct_tblCategory] FOREIGN KEY([idCategory])
REFERENCES [dbo].[Category] ([idCategory])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_tblProduct_tblCategory]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_tblReceipt_tblUser] FOREIGN KEY([idUpdator])
REFERENCES [dbo].[User] ([iduser])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_tblReceipt_tblUser]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng * giá của product' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DetailBill', @level2type=N'COLUMN',@level2name=N'price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng * giá của product' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DetailReciept', @level2type=N'COLUMN',@level2name=N'price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lưu cách nhau bởi dấu ";"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'images'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 là đang xử lý , 1 là hủy , 2 đang giao , 3 thành công' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Receipt', @level2type=N'COLUMN',@level2name=N'status'
GO
USE [master]
GO
