body {
    background: whitesmoke;
    color: black
}

.user-component .light.left {
    float: none;
}

.user-component footer {
    margin: 0
}

.checkout-btn .btn {
    font-weight: 600;
    padding: 0;
    font-size: 12px;
    line-height: 50px;
}
.product-description h6{
    font-weight: 700;
    font-size: 1.5rem;
}
.widget.price{
    color: #000;
}
.single-product-wrapper .product-img {
    width: 255px;
    height: 255px;
}
.single-product-wrapper .product-img img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%)
}